#editor.empty::before {
    content: attr(data-placeholder);
    position: absolute;
    color: #9ca3af;
    pointer-events: none;
}

.format-options {
    display: none;
}

.format-options.show {
    display: block;
}

.font-size-label {
    display: none;
}

.top-buttons button:hover .font-size-label {
    display: block;
}

#editor::-webkit-scrollbar,
#lineNumbers::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}